{{layout "org.wso2.carbon.uuf.common.foundation.ui.main"}}
{{favicon "images/favicon.png"}}
{{title (i18n "app.page.home.title") " | " (i18n "app.name")}}
{{css "css/styles.css"}}

{{#fillZone "content"}}
{{!write your page content here.}}
    <h1>{{helloMessage}}</h1>
{{/fillZone}}
